* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: relative; /* Add relative positioning */
  z-index: 1; /* Ensure the container is above the background */
}

/* Add background image to the body with a blurry effect */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Set a lower z-index to be behind other elements */
  background: url('hacking.gif') center/cover no-repeat; /* Replace 'background.jpg' with the path to your image */
  filter: blur(5px); /* Adjust the blur amount as needed */
  -webkit-backdrop-filter: blur(5px); /* For Safari */
  backdrop-filter: blur(5px); /* Standard syntax */
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

p {
  margin-bottom: 20px;
}

pre {
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 5px;
  overflow: auto;
}

a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #0056b3;
}

ul, ol {
  margin-bottom: 20px;
}

li {
  margin-bottom: 5px;
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}
